blinker
click
colorama
filelock
Flask
flask-cors
fsspec
graphviz
itsdangerous
Jinja2
MarkupSafe
mpmath
networkx
numpy
pillow
setuptools
sympy
torch
torchaudio
torchvision
typing_extensions
Werkzeug
wheel
PyJWT
pony
cryptography
flask-swagger-ui
ntplib
requests
psutil
argon2-cffi
transformers
protobuf